/* Tabsets */
div.tabset {width:100%; margin-top:4px;}
div.tabset ul.tab_labels {margin:0px 0px 10px 0px; padding:0; list-style:none; width:100%; float:left; font-weight:bold; font-size:12px; border-bottom:1px solid #CCCCCC;}
div.tabset ul.tab_labels li {float:left; position:relative; top:2px; left:0px; background: url(../images/tabH_inactive_right.gif) no-repeat top right; margin-right:5px; cursor:pointer;}
div.tabset ul.tab_labels li span {display:block; float:left; padding:6px 10px 5px 10px; background: url(../images/tabH_inactive_left.gif) no-repeat top left; text-decoration:none; color:#000000;}
div.tabset ul.tab_labels li.active_tab {background: url(../images/tabH_active_right.gif) no-repeat right top; border-bottom:2px solid #fff; cursor:default;}
div.tabset ul.tab_labels li.active_tab span {background: url(../images/tabH_active_left.gif) no-repeat top left; color:#FF0000;}
div.tabset div.tab_content {padding:0px 0px 10px 0px; display:none;}
div.tabset div.active_tab {display:block;}
div.tabset div.tab_content img {border:none;}
#rightcolumndiv div.tabset ul.tab_labels{font-size:11px;}
#rightcolumndiv div.tabset ul.tab_labels li span {padding:3px 5px 3px 5px;}